@import '../bstrap-small/bootstrap-smallest';

// KAS BLUE .
$themeColor: #003f80;
$blue: $themeColor;
// KAS GOLD .
$secondColor: #D3A22B;
$gold: $secondColor;

.primary { color: $themeColor; }
.secondary { color: $secondColor; }
.bold { font-weight: bold; }

body {
  font-family: 'Open Sans';
  font-size: 17px;
  background-position: center;
  background-size: cover;
  background: #e5ebf2;
}
a, a:focus, a:hover {
  color: #333;
}
h2, h3, h4 {
  color: $secondColor;
  margin-top: 0;
}
.clear { clear: both; }
.center { text-align: center; }
.next { margin-top: 50px !important; }
.nojus { text-align: left; }
.custom-col { padding: 5px; }
.bottom { margin-bottom: 20px !important; }
.spacer { margin-top: 10px; }
.required {color: #c21f1f; font-size: 16px;}
.padding { padding: 15px; }
.padding-notop { padding: 0 15px 15px 15px; }
.small-left-pad { padding-left: 5px; }
.medium-left-pad { padding-left: 10px; }
.change-buttons {
  font-size: 16px;
  cursor: pointer;
  .delete-student {
    color: #c21f1f;
    font-weight: bold;
  }
}
.noclick {cursor: grab; &:hover {text-decoration: none;}}
.no-col-padding { padding-left: 0; padding-right: 0; }
.row { margin-left: 0; margin-right: 0; }
.modal-backdrop { display: none; }
.rainbow {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}
.space {
  margin-right: 10px;
}
.darker {
  background-color: lightgrey;
}
// .row [class*=col] { padding-left: 0; padding-right: 0; }
/*strikethrough h3's*/

/*
| Header CSS.
*/
#DynamicModal { padding: 0 !important; margin: 0 !important; }
#header {
  background-color: white;
  border-bottom: solid $themeColor 20px;
  #header-left > img, #header-right img {
    height: 180px;
  }
  #header-right > img {
    float: right;
  }
  #header-left > img {
    padding: 20px;
  }
  #header-left, #header-right {
    padding: 0;
    background-color: white;
  }
}


/*
| Container for page data.
*/
#content-container {
  background-color: whitesmoke;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12)
}
.container {
  padding: 0;
  margin-top:    0 !important;
  margin-bottom: 0 !important;
  #left > div, #right > div {
    padding: 10px;
  }
  #left {
    background-color: whitesmoke;
    div {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        ol[class="second"] {
          padding-left: 40px;
        }
      }
    }
  }
  #right {
    background-color: whitesmoke;
    h2, h3, h4 {
      text-align: left;
    }
    #right-place {
      // margin-bottom: 50px;
    }
  }
}

/*
| Important need-to-read areas with different
| background colors to the rest of the scheme
| to off-balance users.
*/
.note {
  background-color: #efefef;
  padding: 10px;
}
.curved {
  border: solid silver 1px;
  border-radius: 3px;
}

/*
| Form design and elements inside of it.
*/
.kasform {
  text-align: left;
  input[type="text"], input[type="week"], input[type="email"], input[type="number"], input[type="date"], select, textarea {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 7px;
    background-color: whitesmoke;
    border: 0;
    border-radius: 3px;
    transition: 0.3s;
    &:focus {
      border-left: solid $themeColor 3px;
      transition: 0.3s;
    }
    &:hover {
      transition: 0;
      background-color: #e5e5e5;
    }
  }
  input[type="submit"] {

  }
  .field-label, .field p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', Arial;
    padding-left: 5px;
  }
  h3 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $themeColor;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
  h3 span {
    background: #fff;
    margin: 0 10px 0 20px;
    padding: 5px;
  }
  .field {
    .fields {
      padding: 5px;
    }
    padding: 5px;
    background-color: whitesmoke;
    border: 0;
    border-radius: 3px;
    transition: 0.3s;
    margin-bottom: 5px;
    &:hover {
      transition: 0;
      background-color: #e5e5e5;
    }
  }
  label {
    padding-left: 4px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', Arial;
  }
  textarea {
    resize: vertical;
    font-family: 'Open Sans', Vertical;
    font-size: 16px;
  }
}


/*
| Modal code, setting classes and etc!...
*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  .modal-content {
    background-color: #fefefe;
    margin: 100px 15% 0 15%;
    width: 70%;
    border-radius: 10px;
  }
  .modal-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .modal-body, .modal-header {
    padding: 20px;
  }
  .modal-header {
    background-color: $themeColor;
    h2 {
      padding: 0;
      margin:  0;
    }
  }
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*
| The dynamically generated content styling, such as forms, etc...
*/
.studentSelection {
  padding-left: 0;
  li {
    // margin: 5px;
    border-radius: 3px;
    background-color: #ededed;
    list-style-type: none;
    padding: 10px;
    font-size: 16px;
    border: solid silver 1px;
  }
}


.students-preview {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #dedede;
}
.student-preview, .family-preview {
  background: whitesmoke;
  padding: 10px;
  hr {
    border-bottom: solid lightgrey 1px !important;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .name {
    font-weight: bold;
  }
  .details {

  }
}

.box {
  border-radius: 3px;
  border: solid silver 1px;
  background-color: #ededed;
  padding: 5px;
}

.family-preview {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ededed;
  border: solid silver 1px;
  border-radius: 3px;
  .names {
    padding: 5px;
  }
}
.spaced-third {
  width: 27.77% !important;
  float: left;
}

// Any CSS relating to the fee table on the #fee-information
.fee-table-container {
  padding: 10px;
  background-color: #ededed;
  .fee-table {
    width: 100% !important;
    font-size: 14px;
  }
}


.next-selector {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .btn-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .btn-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  margin-top: 5px;
}
