@import '../bstrap-small/bootstrap-smaller';

// Drawn lines, backgrounds mainly.
$themeColor: #003f80;
// Mainly for text color.
$secondColor: #D3A22B;

body {
  font-family: 'Open Sans';
  font-size: 17px;
  background-position: center;
  background-size: cover;
  background: #e5ebf2;
}
a, a:focus, a:hover {
  color: black;
}
h2, h3, h4 {
  color: $secondColor;
  margin-top: 0;
}
.clear { clear: both; }
.next { margin-top: 50px !important; }
.nojus { text-align: left; }
.custom-col { padding: 5px; }
.bottom { margin-bottom: 20px !important; }
.spacer { margin-top: 10px; }
.required {color: #c21f1f; font-size: 16px;}

/*
| Header CSS.
*/
#header {
  background-color: white;
  border-bottom: solid $themeColor 20px;
  #header-left > img, #header-right img {
    height: 180px;
  }
  #header-right > img {
    float: right;
  }
  #header-left > img {
    padding: 20px;
  }
  #header-left, #header-right {
    padding: 0;
    background-color: white;
  }
}


/*
| Container for page data.
*/
#content-container {
  background-color: whitesmoke;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12)
}
.container {
  padding: 0;
  margin-top:    0 !important;
  margin-bottom: 0 !important;
  #left > div, #right > div {
    padding: 10px;
  }
  #left {
    background-color: whitesmoke;
    div {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        ol[class="second"] {
          padding-left: 40px;
        }
      }
    }
  }
  #right {
    background-color: whitesmoke;
    h2, h3, h4 {
      text-align: left;
    }
    #right-place {
      // margin-bottom: 50px;
    }
  }
}

/*
| Form design and elements inside of it.
*/
.kasform {
  text-align: left;
  input[type="text"], input[type="email"], input[type="number"], input[type="date"], select, textarea {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 7px;
    background-color: whitesmoke;
    border: 0;
    border-radius: 3px;
    transition: 0.3s;
    &:focus {
      border-left: solid $themeColor 3px;
      transition: 0.3s;
    }
    &:hover {
      transition: 0;
      background-color: #e5e5e5;
    }
  }
  .field-label, .field p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', Arial;
    padding-left: 5px;
  }
  .field {
    .fields {
      padding: 5px;
    }
    padding: 5px;
    background-color: whitesmoke;
    border: 0;
    border-radius: 3px;
    transition: 0.3s;
    margin-bottom: 5px;
    &:hover {
      transition: 0;
      background-color: #e5e5e5;
    }
  }
  .space {
    margin-right: 10px;
  }
  label {
    padding-left: 4px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', Arial;
  }
  h3 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $themeColor;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
  h3 span {
    background: #fff;
    margin: 0 10px 0 20px;
    padding: 5px;
  }
  textarea {
    resize: vertical;
    font-family: 'Open Sans', Vertical;
    font-size: 16px;
  }
}


/*
| Modal code, setting classes and etc!...
*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  .modal-content {
    background-color: #fefefe;
    margin: 100px 15% 0 15%;
    width: 70%;
    border-radius: 10px;
  }
  .modal-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .modal-body, .modal-header {
    padding: 20px;
  }
  .modal-header {
    background-color: $themeColor;
    h2 {
      padding: 0;
      margin:  0;
    }
  }
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*
| The dynamically generated content styling, such as forms, etc...
*/
.studentSelection {
  padding-left: 0;
  li {
    margin: 5px;
    background-color: #ededed;
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
    border: solid silver 1px;
  }
}
