@media print {
  /*basic laws that need to be in place when printing useful data.
  if coders don't use laws when printing, are they really coders? ;)*/
  h2, h3 {
    page-break-after: avoid;
  }
  body {
    color: #000;
    background: #fff;
  }
  img {
    max-width: 100% !important;
  }
  article {
    page-break-before: always;
  }
  ul, img {
    page-break-inside: avoid;
  }
  a {
    font-weight: bolder;
    text-decoration: none;
  }
  a[href^=http]:after {
    content:" <" attr(href) "> ";
  }
  /*styling for rest of printing document, personalization of document
  to be printed.*/
  #header-image-container {
    width: 80%;
    margin-left: 10%;
    #header-reference {
      width: 400px;
    }
    #header-qr-code {
      margin-top: 20px;
      width: 150px;
      float: right;
    }
  }
  /*re-styling bootstrap columns and stuff to add better representation
  and compression for printing.*/
  .spaced-third, .col-lg-1, .col-lg-2, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10 {
    font-size: 16px;
    float: left;
    margin-bottom: 3px;
  }
  .spaced-third {
    width: 27.77% !important;
  }
  .col-left-1 {
    margin-left: 8.33% !important;
  }
  .col-lg-1 {
    width: 8.33% !important;
  }
  .col-lg-2 {
    width: 16.66% !important;
  }
  .col-lg-3 {
    width: 25.00% !important;
  }
  .col-lg-4 {
    width: 33.33% !important;
  }
  .col-lg-6 {
    width: 50% !important;
  }
  .col-lg-9 {
    width: 75% !important;
  }
  .col-lg-10 {
    width: 83.33% !important;
  }
  .remove-for-print {
    display: none;
  }
  .print-page-dedicated {
    margin-top: 5px;
    page-break-before: always;
  }
  .clear {
    clear: both;
  }
  .center {
    text-align: center;
  }
}

@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}
