@media print {
  @import 'print-page';
  /*basic laws that need to be in place when printing useful data.
  if coders don't use laws when printing, are they really coders? ;)*/
  h2, h3 {
    page-break-after: avoid;
  }
  body {
    color: #000;
    background: #fff;
  }
  img {
    max-width: 100% !important;
  }
  article {
    page-break-before: always;
  }
  ul, img {
    page-break-inside: avoid;
  }
  a {
    font-weight: bolder;
    text-decoration: none;
  }
  a[href^=http]:after {
    content:" <" attr(href) "> ";
  }
  /*styling for rest of printing document, personalization of document
  to be printed.*/
  .space { margin-right: 20px; padding-right: 20px; }
  /*re-styling bootstrap columns and stuff to add better representation
  and compression for printing.*/
  .spaced-third, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
    font-size: 16px;
    float: left;
    margin-bottom: 3px;
  }
  .spaced-third {
    width: 27.77% !important;
  }
  .col-left-1 {
    margin-left: 8.33% !important;
  }
  .col-1 {
    width: 8.33% !important;
  }
  .col-2 {
    width: 16.66% !important;
  }
  .col-3 {
    width: 25.00% !important;
  }
  .col-4 {
    width: 33.33% !important;
  }
  .col-5 {
    width: 41.66% !important;
  }
  .col-6 {
    width: 50.00% !important;
  }
  .col-7 {
    width: 58.33% !important;
  }
  .col-8 {
    width: 66.66% !important;
  }
  .col-9 {
    width: 75% !important;
  }
  .col-10 {
    width: 83.33% !important;
  }
  .col-12 {
    width: 100% !important;
  }
  .remove-for-print {
    display: none;
  }
  .dedicated {
    margin-top: 5px;
    page-break-before: always;
  }
  .clear {
    clear: both;
  }
  .center {
    text-align: center;
  }
  hr[class="padded"] {
    padding: 0 10px 0 10px;
    width: 85%;
  }
  hr {
    border-bottom: solid lightgrey 1px;
  }

  @page {
    size:   auto; /* auto is the initial value */
    margin: 7.5mm;  /* this affects the margin in the printer settings */
  }

}

@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}
