#content {

    font-size: 14px;

    #information-snappet {

      padding-right: $spacer;

      #welcome, .left-box {

        background: $blue;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
        rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
        rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

        .header-image {
          background-image: url('/public/img/header-photo.jpg');
          height: 200px;
          background-size: cover;
          background-position: right;
          border-bottom: solid black 2px;
          width: 100%;
        }
        .welcome {
          padding: 20px;
          font-size: 14px;
        }

      }

    }

    #form-fill {

      #placer {
        h2 {
          font-family: 'Proxima Nova', Arial;
          color: $gold;
        }
      }

      // padding: 0 40px 0 40px;
      // padding: 20px;

      .box {

        border-left: solid $blue $border_pixels;
        border-right: solid $blue $border_pixels;
        border-top: solid $blue $border_pixels;
        background: lighten($body, 5%);
        padding: $spacer;


        box-shadow: rgba(0,0,0,0.14) 0px 2px 2px 0px,
                    rgba(0,0,0,0.2) 0px 3px 1px -2px,
                    rgba(0,0,0,0.12) 0px 1px 5px 0px;

        .divider {
            margin-top: 5px;
            margin-bottom: 5px;
            width: 100%;
        }
        hr[class="divider"] {
            margin-top: 15px !important;
            margin-bottom: 45px !important;
        }

      }
      .last, .not-segmented, .no-segment {

        padding-top: 0;

      }
      .segment {

        width: 100%;
        height: 1px;
        background: darkgrey;
        border-left: solid $blue $border_pixels;

      }
      .invisibile-segment {

          width: 100%;
          border-left: solid $blue $border_pixels;
          background: transparent;

      }
      .title {

          // border-left: 0;
          border-top: solid $blue $border_pixels;
          margin-bottom: $spacer;

          h2 {

          }
      }
      .parent-title {
        font-family: 'Proxima Nova', Arial;
      }
    }

}

.nice-button {

    font-size: 16px;
    border: 0;
    height: 30px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 3px;
    background: $blue;
    color: white;

    box-shadow: rgba(0,0,0,0.14) 0px 2px 2px 0px,
                rgba(0,0,0,0.2) 0px 3px 1px -2px,
                rgba(0,0,0,0.12) 0px 1px 5px 0px;
}

.green {
    background: $green !important;
}
.blue {
    background: $blue !important;
}


.delete {
  color: #c21f1f;
  cursor: pointer;
}
