$body: #e5ebf2;

$blue: #003f80;
$gold: #D3A22B;
$green: #2cd4b8;

$blue_comfy: #517397;

$green_success: #27e4bc;

$border_pixels: 1px;
$spacing_between_formations: 15px;
$spacer: 30px;



/*
 * All colors, major style allocation and scss-related
 * bootstrapping.
 */

body {

    background: $body;

}

h1, h2, h3, h4, h5, h6, p, div {

    font-family: 'Proxima Nova', Arial;

}

.no {

    padding-left:  0;
    padding-right: 0;

}
